@import "variables";

.hero {
  background-image: url('./hero-homepage.jpg');
}

.intro {
  padding: 2rem 1.5rem;
  margin: 0;
  font-family: $font-family-secondary;
  font-size: 1.125rem;
  line-height: 1.7;
  text-align: center;
}

.content {
  padding: 1rem;
  line-height: 1.7;
}

.services {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $color-carrara;
  @include container;
}

.subheading {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: Oswald;
  font-size: 1.25rem;
  text-align: center;
}
